@import "mixins/_manifest.scss";
*{
    box-sizing: border-box;
}
body{
   margin:0;
   background-color: rgb(51,51,51);
.main-header{
    width:$width;
    height:250px;
    position: fixed;
    background-image: url('../images/twitter.jpg');
    border:0px solid black;
    z-index: 1;
    .main{
    width:100%;
    height:$height;
    margin:0 auto;
    background-color:rgb(113,134,139);    
    border:0px solid black;
    .top-bar{
    width:$width;
    height:15%;
    border:0px solid forestgreen;
    @include flex-layout-top-nav;
   & div{
       margin-left:10px;
       padding:10px;
       & a{
           & img{
               opacity: 0.6;
               &:hover{
                   opacity: 1;
               }
           }
       }
   }
    & .bar{
        margin-right:auto;
        }
    }
    .profile-dp{
        width:40%;
        height: 40%;
        margin-left:10%;
        background-color:rgb(113,134,139);
       font-family: Calibri Light;
        border:0px solid black;
        .profile-image{
            width:30%;
            text-align: center;
            float: left;
            border:0px solid black;
            img{
                 border-radius: 50%;
            }
        }
        .profile-image-content{
             float: left;
             width:50%;
             margin-left: 10px;
             border:0px solid black;
             h4{
                 color:darken($color: #fff, $amount: 20%);
             }
             h2{
                margin-top: -15px;
                color:white;
             }
        }
    }
    .details{
        width:30%;
        height:100%;
        float:left;
         @include flex-layout-informations;
        @include informations;
        border:0px solid black;
    }
    .bottom-bar{
     border:0px solid black; 
     margin-top:10px;
     height:40%;
     width:100%;
     clear:both;
     .navBar{
        float:left;
        margin-left: 4%;
        border:0px solid black;
        @include navigation;
        margin-top:60px;
       li:first-child{
           margin-left: 0;
       }
        li{
           margin-top:12%;
           list-style: none;
           margin-top: 0px;
           padding: 6px;
           margin-left: 40px;
            a{
                @include home-anchor;
            
            }
        }
        & .home{
            & a:before{
                content:url(../images/home.png);
                display:inline-block;
                margin-right:10px;
            }
        }
        & .notifications{
            & a:before{
                content:url(../images/notifications.png);
                display:inline-block;
                margin-right:10px;
            }
        }
        & .discover{
            & a:before{
                content:url(../images/discover.png);
                display:inline-block;
                margin-right:10px;
            }
        }
        & .me{
            & a:before{
                content:url(../images/user.png);
                display:inline-block;
                margin-right:10px;
            }
        }
    }  
    }
    
    }
  }
}